@model trabalho_fotos.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar conta</h1>

<h3>Tem certeza desta ação?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Telefone
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            CPF
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            Foto
        </dt>
        <dd class = "col-sm-10">
            @{
                try
                {
                    var base64 = Convert.ToBase64String(@Model.Photo);
                    if (!string.IsNullOrEmpty(base64))
                    {
                        var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                        <img class="img-fluid" src="@imgSrc" width="70" />
                    }
                }
                catch
                {
                    <img class="img-fluid" src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg" width="70" />
                }
            }
        </dd>
        <dt class = "col-sm-2">
            Rua
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            Nº
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>
        <dt class = "col-sm-2">
            CEP
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            UF
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            Cidade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Voltar</a>
    </form>
</div>
